import /init.recovery.qcom_decrypt.rc

on early-init
    mkdir /firmware 0771 system system

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro shortname=lower uid=1000 gid=1000 dmask=227 fmask=337

service vibrator-1-2 /system/bin/vendor.qti.hardware.vibrator@1.2-service
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    seclabel u:r:recovery:s0

on boot
    # Workaround for adb not coming up
    setprop sys.usb.config mtp,adb
    setprop sys.usb.config adb

    # Set ASUS-specific properties
    #exec u:r:recovery:s0 root root -- /system/bin/set_version.sh

    start vibrator-1-2

    # Double tap to wake
    chown system system /proc/tpd_gesture
    chmod 644 /proc/tpd_gesture
    write /proc/tpd_gesture 1
