on init
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    start qcom-usb-sh

on boot
    # Enable DT2W
    chown system system /sys/kernel/touchpanel/dclicknode
    write /sys/kernel/touchpanel/dclicknode 1
